@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-terminal-fg font-mono;
  }
}

@layer utilities {
  .blur-premium {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
}

